.mobile{
    /* background-color: white; */
    height: 56vh;
    width: 100vw;
    position: absolute;
    background-color:black;
    right: 0px;
    top: 52px;
    padding: 10px 12px;
    flex-direction: column;
    border: 1px solid blue ;
    /* position: fixed; */
    /* z-index: 2;
    overflow: hidden; */
    
}
.close-icon{
 display: flex;
 justify-content: flex-end;
 font-size: 24px;   
}
.mobile-options{
    display: flex;
    flex-direction: column;
    width:100%;
    padding-top:10px;
    justify-content: center;
    align-items: center;
    /* height: 100%; */

}
.mobile-option div{
    font-size: 24px;
    margin: 10px 0px;
    display: flex;
}
.mobile-option div a{
    text-decoration: none;
    color: white;
    display: flex;
    /* padding: 3px; */
    /* background-color: gray; */
}